.noticias-list {
  list-style: none;
  padding: 0;
}

.noticia {
  margin: 20px 0;
  padding: 20px;
  background: #f9f9f9;
  border-left: 10px solid #333;
}

.noticia-header {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #333;

  img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid #333;
  }
}

.noticia-header div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: bold;
  gap: 4px;
}

.img-noticia {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  object-fit: contain;
}

.noticia p {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  overflow: auto;
  max-height: 300px;
  white-space: break-spaces;
}

.noticia-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.noticia time {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 10px;
}

